@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .link{
        @apply  cursor-pointer hover:underline;
    }

    .button{
        @apply p-3 font-semibold text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm focus:outline-none focus:ring-2 focus:ring-yellow-500 active:from-yellow-500;
    }

}

body::-webkit-scrollbar{
    display: none;
}

.productCard{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.productCard:hover{
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -moz-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
}


/* .productImage{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition:0.8s;
    width:100%;
    height:260px;
    object-fit: cover;
    
}

.productImage:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}

.productImagewrapper{
    overflow: hidden;
    width:100%;
    height:230px;
}


.productCheckOutImage{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition:0.8s;
    width:100%;
    height:200px;
    object-fit: cover;

}
.productCheckOutImage:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}
.checkoutImageWrapper{
    overflow: hidden;
    width:100%;
    height:200px;
} */




 .productImage{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition:0.8s;
    width:100%;
    height:200px;
    object-fit: contain;
    
}

.productImage:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
}


.productCheckOutImage{
    width:100%;
    height:200px;
    object-fit: contain;

}



.header{
    position: fixed;
    z-index: 999;
    width: 100%;
    top:0px;
    left:0px;
}

.checkoutBanner{
    margin-top:119px;
}